@import 'tailwindcss';

@theme {
  --color-background: #020103;
  --color-foreground: #ffff;

  --color-purple-5: #c09ff4;
  --color-purple-10: #8c45ff;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}

.contained {
  @apply max-w-[1200px] mx-auto overflow-x-clip;
}
