@import "tailwindcss";

@theme {
  --breakpoint-xs: 340px;
  --color-background: #020103;
  --color-foreground: #ffff;

  --color-purple-5: #c09ff4;
  --color-purple-10: #8c45ff;
  --color-purple-15: #9855ff;

  --color-hero-stop1: #0d0718;
  --color-hero-stop2: #0f081b;
  --color-hero-stop3: #0b0614;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}

.hero-img-box-shadow {
  box-shadow:
    0 -20px 70px 0 rgba(140, 69, 255, 0.25),
    0 -19px 70px 0 rgba(140, 69, 255, 0.4);
}

.gradient-1 {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 42%, #b372cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.client-line-gradient {
  background: linear-gradient(
    to right,
    #141315 0%,
    #ffffff 17%,
    #ffffff 87%,
    #020103 100%
  );
}

.client-line-gradient-2 {
  background: linear-gradient(
    to bottom,
    #141315 0%,
    #ffffff 17%,
    #ffffff 87%,
    #020103 100%
  );
}

.inner-shadow {
  box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
}

.pro-pricing-shadow {
  box-shadow: 0px 10px 74px 10px rgba(78, 0, 191, 0.41);
}

.pricing-gradient {
  background: radial-gradient(
    #020103 0%,
    #55299d53 15%,
    #020103 75%
  );
}

.contained {
  @apply mx-auto max-w-[1200px] overflow-x-clip;
}

.hero-ellipse {
  @apply absolute top-1/2 left-1/2 aspect-square -translate-x-1/2 -translate-y-1/2 animate-[spin_60s_linear_infinite] rounded-full border border-dashed border-inherit;
}
